@model OnlineShop.WebAPI.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv1YpQibaQRWrqTDh7O2REKH45RjjLocI"></script>
<script src="~/Assets/client/js/controllers/contact.js"></script>
    }
<style>
    #map {
        height: 500px;
    }
</style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<input type="hidden" id="hidAddress" value="@Model.ContactDetail.Name <br>Điện thoại: @Model.ContactDetail.Phone<br>Địa chỉ: @Model.ContactDetail.Adderss<br>Thông tin thêm : @Model.ContactDetail.Other" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<div class="main">
    <div class="reservation_top">
        
        <div class="contact_right">
            <h3>THÔNG TIN LIÊN HỆ</h3>
            <address class="address">
                <p>@Model.ContactDetail.Adderss</p>
                <dl>
                    <dt> </dt>
                    <dd>Điện thoại:<span>@Model.ContactDetail.Phone</span></dd>
                    <dd>E-mail:&nbsp; <a href="mailto:@(Model.ContactDetail.Email)">@(Model.ContactDetail.Email)</a></dd>
                </dl>
            </address>
            <div class="clearfix"></div>
            <div id="map" >

            </div>
        </div>
    </div>
    <div class="reservation_top">
        <div class="contact_right">
            <h3>GỬI THÔNG TIN LIÊN HỆ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SeedFeedback", "Contact", FormMethod.Post))
                {
                    if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn !</strong> gửi phản hồi thành công.
                            <br />
                            Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error" });
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox" });
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox" });
                    @Html.TextAreaFor(model => model.Message);

                   
                     MvcCaptcha contactCaptcha = new MvcCaptcha("contactCaptcha");
                     @Html.Captcha(contactCaptcha);
                     @Html.TextBox("CaptchaCode");
                     
                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                        }                       
            </div>
        </div>
    </div>
</div>
